* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

::-webkit-scrollbar{
  display: none;
}

body{
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  max-width: 100vw;
  height: auto;
  overflow-x: hidden;
}

#root{
  width: 100%;
  height: auto;
  position: relative;
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
}